@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

img {
    border-color: rgb(149, 204, 255);
    border-style: solid;
}

body {
    background-color: rgb(208, 253, 255);
}

hr {
    border: 2px dashed rgb(149, 204, 255);
}

.center {
    margin: auto;
    width: 75%;
    background-color: rgb(156, 207, 255);
    outline: solid;
    outline-width: 0.6em;
    outline-color: rgb(32, 136, 226);
}