@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

img {
    border-color: rgb(149, 204, 255);
    border-style: solid;
}

body {
    background-color: rgb(208, 253, 255);
}

hr {
    border: 2px solid rgb(149, 204, 255);
}